@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

@font-face {
    font-family: Seconds;
    src: url(fontes/seconds/Seconds.otf);
}

@font-face {
    font-family: Rotters;
    src: url(fontes/rotters/Rotters.otf);
}

@font-face {
    font-family: Baskerville;
    src: url(fontes/baskerville-cufonfonts/baskvl.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Antic Didone', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.conteudo-principal {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/fundoprinc1.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-principal {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-weight: bold;
    
}

.p1 {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #694f33;
    width: 100%;
    height: 200px;
    background-color: white;
    
}

.borda {
    border-top: 3px solid rgba(0, 0, 0, 0.692);
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    text-align: center;
    margin-right: 2%;
    
}

.texto-principal .testett {
    font-size: 100px;
    font-weight: normal;
    text-align: justify;
    color: white;
    margin-left: 0%;
    
}

.texto-principal p {
    margin-left: 9%;
    font-size: 22px;
    text-align: justify;
    color: white;
    font-weight: normal;
    font-family: 'Antic Didone', serif;
}

.tt-cards {
    height: 60px;
    padding: 50px;
    font-weight: bold;
    width: auto;
    background-color: white;
}

.tt-cards p {
    font-size: 35px; 
    text-align: center; 
    
    color: #E9BB8A;
}

.chamada {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    height: 250px;
    background-color: white;
    
}

.chamada a {
    text-decoration: none;
    color: black;
}

.call {
    background: linear-gradient(353deg, rgba(210,212,218,1) 2%, rgba(233,187,138,1) 78%);
    /*background-color: #e7c60ad2;*/
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.493);
}

.call a {
    text-decoration: none;
    padding: 20px;
    color: black;
}

.card {
    background-color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 190px;
    border: 3px solid #e9bb8ac4;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.493);
    border-radius: 15px;
    padding: 15px;
    font-weight: bold;
}

.card h2 {
    margin-bottom: 2px;
}


#liplift {
    width: 90%;
    height: 950px;
    display: flex;
    flex-direction: column;
    /*background-image: url(imagens/fundo-liplift-amarelo.png);
    background-size: cover;*/
    padding: 47px;
    justify-content: center;
    align-items: center;
    
    color: #694f33;
    font-family: 'Antic Didone', serif;
}

.exp-liplift {
    text-align: justify;
    width: 90%;
    height: 1000px;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    font-weight: normal;
}

.exp-liplift img {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
}

.fotos-casos {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 100px;
}

.ft-liplift {
    width: 48%;
    /*background-image: url(imagens/lip01-red.JPG);
    background-size: cover;   
    border-radius: 30px;*/
    height: 400px;
    margin-bottom: 20px;
}

.ft-liplift img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.493);
}

.ft-liplift1 {
    margin-left: 2%;
    margin-top: 20px;
    width: 48%;
    height: 500px;
}

.ft-liplift1 img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.493);
}

#resultados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    background-color: #D2D4DA;
    
}


#vivianvalentim {
    width: 100%;
}

.txt-vivian {
    width: 50%;
    height: 500px;
    font-size: 18px;
}

.rodape-maior {
    width: 100%;
    background-color: #e9bb8a7c;
    display: flex;
    flex-direction: row;
}

.rodape-esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rodape-esquerda span {
    width: 200px;
    height: 40px;
    padding: 0px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.rodape-esquerda img {
    width: 35px;
    height: 30px;
    padding: 20px;
}

.rodape-esquerda address {
    font-size: 10px;
    margin-left: 2%;
}

.rodape-direita {
    width: 50%;
}

.rodape-direita img {
    width: 70%;
    padding: 30px;
    margin-left: 10%;
    border-radius: 45%;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    background-color: #e9bb8a7c;
    height: 45px;
}

/* ------------------------------------------------ SITE RESPONSIVO ----------------------------------------------*/
@media only screen and (min-width: 200px) and (max-width: 480px) { 
    body {
        width: 100%;
        height: 100%;
    }
  
    main {
        width: 100vw;
        height: 100%;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 100%;
        background-image: url(imagens/teste.png);
        background-position: top;
        background-size: cover;
        color: white;
        height: 600px;
    }

    .call { 
        margin-top: 40px;
    }

    .texto-principal {
        margin-top: 50%;
        width: 95%;
        text-align: justify;
    }

    .texto-principal .testett {
        color:  white; 
        font-size: 67px;
    }

   .p1 {
        margin-top: 20px;
        width: 90%;
        
        font-size: 20px;
        text-align: center; 
        height: 100px;
        font-weight: 900;
    }

    .borda {
        width: 27%;
        height: 50px;
        
    }

    .texto-principal p {
        width: 90%;
        margin-left: 10px;
        font-size: 15px;
        padding: 0px;
        text-align: justify;
        color: white; 
    }

    #liplift {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
        margin-right: 0px;
        height: 750px;
        margin-top: 20px;
        background-color: #e9bb8a7c;
        border-radius: 3px;
    }

    #liplift h2 {
        text-align: center;
    }

    .exp-liplift {
        align-items: center;
        width: auto; 
        height: auto;  
        font-size: 12px;
        font-weight: normal;
        width: 90%;
    }

    .exp-liplift img {
        margin-left: 25%;
    }

    .exp-liplift > span {
        text-align: center;
    }

    .ft-liplift {
        height: 400px;
        /*background-image: url(imagens/liplift-peq.JPG);
        background-size: cover;
        background-position: top center;*/
        width: 100%;
        padding: 0px;
        margin-left: 0px;
        border-radius: 5px;
        margin-bottom: 0px;
    }

    .fotos-casos {
        display: flex;
        flex-direction: column;
        width: 92%;
        height: 750px;
        margin-bottom: 0px;
    }

    .ft-liplift1 {
        width: 100%;
    }

    .chamada {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .tt-cards {
        margin-bottom: 10px;
        
        padding: 0px;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .chamada a {
        margin-top: 10px;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .card {
        width: 100%;
        padding: 0px;
        margin-bottom: 30px;
    }

    .rodape-maior {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        height: 550px;
    }

    .rodape-esquerda {
        margin-bottom: 0px;
        height: 100%;
        width: 100%;
    }
    
    .rodape-esquerda .icone {
        width: 50%;
        margin-top: 20px;
        height: 120px;
    }

    .rodape-direita img {
        display: none;
    }

    .foot {
        width: 100%;
        height: 80px;
        position: relative;
    }
}
